<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'photo-1560452460-77587ba1893a.jpg', class: 'd-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'pabxnSMrQ2SudSP6nEzc6Q_thumb_17.jpg', class: 'd-block img-fluid' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% @place.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <br />
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <div class="address">
    <span class="fas fa-map-marker-alt"></span> &nbsp;
    <i><%= place.address %></i><br /><br />
    </div>
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>


   <% if place.comments.present? %>
   <div class="col-12 col-sm-6">
  <blockquote>
    <% if place.comments.last.humanized_rating.present? %>
      <b><%= place.comments.last.humanized_rating %></b> -
    <% end %>
    <%= place.comments.last.message %>
    <small><%= place.comments.last.user.email %></small>
  </blockquote>
</div>
<% end %>
  </div>

<% end %>

<br />