<div class="booyah-box col-10 offset-1">
  <br />
  <h1><%=  @place.name %></h1><br />
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>

  </head>
  <body>
    
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 12
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=(AIzaSyBvOsQTnJ8_OAx6sYCr1FSo9M7SyS76ETU)&callback=initMap"
    async defer></script>

    <div id="map"></div>

<br />

  <div class="float-right">
    <% if current_user && current_user == @place.user %>
    <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
    <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>